name: Lighthouse
permissions:
  contents: read
on: 
  push:
    branches: ["main"]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Lighthouse
      uses: foo-software/lighthouse-check-action@master
      with:
        urls: 'https://louisphilipshahim.com/'